footer {
  background-image: linear-gradient(
    to right,
    #0071bc,
    #1978bc,
    #2b7fbb,
    #3b86ba,
    #4a8db9
  );
  box-shadow: inset 0px 0px 3px #111;
  color: #fff;
  font-size: 14px;
  line-height: 25px;
  padding: 30px 0px 20px 0px;
  bottom: 0px;
  width: 100%;
  position: fixed;
}
