.content-box {
  margin-bottom: 30px;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  list-style: none;
  width: 200px;
  text-align: center;
}
